body {
    margin: 0;
}
p {
    font-family: 'Poppins', sans-serif;
}
#general {
    margin: 0 auto;
}
#contacto {
    width: 400px;
    height: 100px;
    margin-top: -20;
    right: 60%;
    position: absolute; 
    text-align: right;   
}
#contacto p {
    font-size: 30px;
    font-weight: 300;
    line-height : 15px;  
}
#link:hover {
    transform: scale(1.2) ;
    transform-origin: 100% 100%;
}

#cuadro {
    height: 100vh;
    width: 650px;
    margin: 0 auto;
    background: linear-gradient(#ffc8dd, white);
}
#titulo {
    width: 400px;
    height: 300px;
    position: absolute;
    bottom: 0;
    right: 60%;
    text-align: right;
}
#titulo p {
    font-size: 50px;
    font-weight: 400;
}
#img {
    height: 100vh;
    width: 900px;
    background-image: url(img/autoretrato3.png);
    background-size: 125%;
    background-position-y: top;
    background-repeat: no-repeat;    
    margin: 0 auto; 
}

